.blogs h1{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 60px;
    color: rgba(0, 0, 0, 0.774);
}
.blogs .container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    align-items: center;
    flex-wrap: wrap;

}
.blogs .container .blog{
    width: 30%;
}
.blogs .container .blog .image{
    overflow: hidden;
    position: relative;
}
.blogs .container .blog .image:hover img{
       transform: scale(1.2);
       transition: 2s;
}

.blogs .container .blog .cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.281);
    display: none;
}
.blogs .container .blog .image:hover .cover{
    display: block;
}
.blogs .container .blog h5{
    color: rgba(0, 0, 0, 0.295);
}
@media (max-width:992px){
.blogs .container .blog{
    width: 50%;
    text-align: center;
}
}
@media (max-width:768px){
    .blogs .container .blog{
        width: 100%;
    }
    }